
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,700&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    /* outline: solid red 2px; */
}

:root{
    --main-color:#006b8a;
    --main-color-light-variant:#01a1b8;
    --main-bg-color:#efefef;
    --main-dark-bg-color:#3b3b3b;
}

html{
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.5;
    background-color: var(--main-bg-color);
}

h1{
    font-size: 4rem;
    line-height: 1.2;
    color:white;
    font-weight: 400;
}

h1 span{
    font-weight: 900;
    text-transform: uppercase;
}

h2{
    color:var(--main-color);
}

h2.light-title{
    color:white;
}

.parrafo-centrado{
    width: 100%;
    padding: 3rem;

}


header{
    width: 100%;
    background-image: linear-gradient(0deg, rgba(0,107,138,1) 0%, rgba(0,107,138,0) 55%),url("assets/7.jpg");
    background-size: 100% auto;
    min-height: 100vh;
    background-position-y: 70%;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2rem 4rem;
    
}

#logo-main{
    width: 60%;
}

.section-flex-centrada-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}







nav{
    width: 100%;
    /* background-color: rgba(5, 148, 243, 0.486); */
    display: flex;
    flex-direction: column;
    position: fixed;
    top:0;
    align-items: center;
    /*sombra abajo*/
   
}

nav>div{
    width: 100%;
    
    /* background-color: rgba(0, 92, 121, 0.534); */

    /* poner este color cuando no esta arriba de todo, sino transparente */
    /* background-color: rgba(0, 135, 177,0.6); */
    display: flex;
    justify-content: space-between;
    padding:  0 1rem;
    align-items: center;
    /*sombra abajo*/
    /* box-shadow: 10px 7px 49px -17px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 7px 49px -17px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 7px 49px -17px rgba(0,0,0,0.75); */
}

/* nav hr{
    border: none;
    height: 1px;
    background-color: white;
    width: 100%;
    
} */

hr{
    margin: 0 1rem;
}

.menu{
    display: flex;
    list-style: none;
    gap:1rem;
    color:black;
    font-size: 1.4rem;
}

nav a{
    /* color:white; */
    /* color:rgb(0, 92, 121); */
    color:white;
   /* color:rgb(88, 88, 88); */
    text-decoration: none;
}

nav a:hover{
     /* color:white; */
    color:rgb(0, 92, 121);
     text-decoration: none;
 }



#title{
    align-self: flex-start;
}


/*  */
#main-title{
    display:flex;
    /* background-color: rgb(0, 135, 177); */
    background-color: rgb(240, 240, 240);
    padding: 2rem;
}
/*  */





#estadisticas{
    display: flex;
    align-items: center;
    gap:1rem;
}

#estadisticas>div{
    
    border: 5px rgb(0, 135, 177) solid;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 150px;
     height: 150px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
}

#estadisticas span{
    font-size: 2.5rem;
    color:rgb(0, 135, 177);
    font-weight: 600;
    line-height: 1;
}

#estadisticas p{
    font-size: 1rem;
    color:gray;
    font-weight: 600;
    line-height: 1;
}

.triparrafo{
    display: flex;
    justify-content: center;
    padding: 3rem;
    gap:2rem;
    background-color: rgb(240, 240, 240);
}

.triparrafo>div{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    text-align: justify;
}




/* para secciones con fondo blanco, titulo y parrafo todo centrado con aire */

.section-title{
    padding: 2rem;
    background-color: rgb(240, 240, 240);
}


.section-title span{
    background-color: rgb(240, 240, 240);
    color:rgb(0, 135, 177);
}

.section-title h2{
    font-size: 2rem;
}

.parrafo-centrado h2{
    text-align: center;
    color:rgb(0, 135, 177);
}

.parrafo-centrado p{
    text-align: justify;
}

#servicios{
    width: 100%;
}


.banner{
    width: 100%;
    background-size: cover;
    background-position: center center;
    min-height: 60vh;
    background-position-y: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#banner-obras{
    background-image: linear-gradient(rgba(0, 92, 121, 0.534),rgba(0, 92, 121, 0.534)), url(assets/8.jpg);
    
}

#banner-fin{
    background-image:linear-gradient(rgba(0, 92, 121, 0.534),rgba(0, 92, 121, 0.534)), url(assets/9.jpg);
    
}
.servicio-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-size: cover;
    background-position: center center;
    background-image: url(assets/1.jpg);
    height: 50vh;
    /* background-attachment: fixed; */
}

.servicio-item:nth-child(even){
    flex-direction: row-reverse;
}

.servicio-item>h2{
    width: 100%;
    padding: 2rem 2rem;
    text-align: center;
    align-self: center;
    font-size: 2.5rem;
    color:white;
}

.servicio-item>div{
    background-color: white;
    width: 100%;
    padding: 2rem 2rem;
}

#obras{
    width: 100%;
    padding-bottom: 2rem;
}

#obras h2{
    padding:3rem;
    font-size: 3rem;
}

.proyecto{
    margin:3rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap:2rem;
}

.proyecto p{
    padding: 0 2rem;
    padding-bottom: 2rem;
}

.proyecto>div{
    display:flex;
    justify-content: space-between;
}

.proyecto>div>img{
    width: 100%;
    max-height: 40vh;
    object-fit: cover;
}

.proyecto-info{
    width: 100%;
    padding: 3rem;
}

.proyecto-info ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap:1.5rem;
    padding-top: 2rem;
}

.proyecto-info li{
    gap: 0.5rem;
    display: flex;
    justify-content: flex-start;
}

.proyecto-info li img{
    width: 20px;
}


.proyecto-info h3{
    font-size: 2rem;
}

#contacto{
    background-image: url(assets/mapa.png);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background-size: cover;
    background-position: center center;
    height: 70vh;
    /* background-attachment: fixed; */
    color: white;
}

#contacto>div{
    background-color: rgb(0, 135, 177);
    width: 50%;
    padding: 2rem 2rem;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}

footer{
    width: 100%;
    background-image: linear-gradient(rgba(0, 92, 121, 0.534),rgba(0, 92, 121, 0.534)), url("assets/6.jpg");
    /*algun filtro azul sobre el fondo*/
    background-size: 100% auto;
    min-height: 60vh;
    background-position-y: center;
    background-repeat: no-repeat;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap:2rem;
    justify-content: flex-end;
    color: white;
}

#desarrollado{
    display: flex;
    justify-content: space-between;
}

#info-empresa{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
}

#info-empresa img{
    width: 200px;
}

footer>img{
    width: 100%;
}
