*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    /* outline: solid red 2px; */
}

nav{
    width: 100%;
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    /*sombra abajo*/
}

.menu{
    display: flex;
    list-style: none;
    gap:0.5rem;
    color:black;
    font-size: 1.4rem;
}

header{
    width: 100%;
    background-image: url("assets/5.jpg");
    background-size: 100% auto;
    min-height: 60vh;
    background-position-y: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 4rem;
    
}


h1{
    font-size: 5rem;
    color: white;
    text-align: center;
    max-width: 70%;
}

#estadisticas{
    display: flex;
    align-items: center;
    gap:1rem;
}

#estadisticas p{
    font-size: 3rem;
    border: 2px white solid;
    border-radius: 1500px;
    padding: 3rem;
}

footer{
    width: 100%;
    background-image: url("assets/6.jpg");
    /*algun filtro azul sobre el fondo*/
    background-size: 100% auto;
    min-height: 60vh;
    background-position-y: center;
    background-repeat: no-repeat;
}


/* para secciones con fondo blanco, titulo y parrafo todo centrado con aire */
.parrafo-centrado{
    width: 100%;
    padding: 3rem;

}

.parrafo-centrado h2{
    text-align: center;
}

.parrafo-centrado p{
    text-align: center;
}

#servicios{
    width: 100%;
}


.banner{
    width: 100%;
    background-size: cover;
    background-position: center center;
    min-height: 60vh;
    background-position-y: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#banner-obras{
    background-image: url(assets/8.jpg);
    
}
.servicio-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-size: cover;
    background-position: center center;
    background-image: url(assets/1.jpg);
    height: 50vh;
    /* background-attachment: fixed; */
}

.servicio-item:nth-child(even){
    flex-direction: row-reverse;
}

.servicio-item>h2{
    width: 100%;
    padding: 2rem 2rem;
    text-align: center;
    align-self: center;
    font-size: 2.5rem;
    color:white;
}

.servicio-item>div{
    background-color: white;
    width: 100%;
    padding: 2rem 2rem;
}

#obras{
    width: 100%;
    background-color: lightgray;
    padding-bottom: 2rem;
}

#obras h2{
    padding:3rem;
    font-size: 3rem;
}

.proyecto{
    margin:3rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap:2rem;
}

.proyecto p{
    padding: 0 2rem;
    padding-bottom: 2rem;
}

.proyecto>div{
    display:flex;
    justify-content: space-between;
}

.proyecto>div>img{
    width: 100%;
    max-height: 40vh;
    object-fit: cover;
}

.proyecto-info{
    width: 100%;
    padding: 3rem;
}

.proyecto-info ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap:1.5rem;
    padding-top: 2rem;
}

.proyecto-info li{
    gap: 0.5rem;
    display: flex;
    justify-content: flex-start;
}

.proyecto-info li img{
    width: 20px;
}


.proyecto-info h3{
    font-size: 2rem;
}

